<launch>
    <arg name="new_way" value="false"/>
    <arg name="borders" default="$(find heron_sensors)/utils/borders" />
    
    <group if="$(arg new_way)">
        <node pkg="heron_sensors" type="way_lodka.py" name="create_name" output="screen">
            <param name="borders" value="$(arg borders)" />
        </node>
    </group>
</launch>